<h1>
    profile page
</h1>
<% if(locals.user){ %>
<img src="<%=user.avatar%>" alt="img" width="100" height="100">
<p>Name: <%=user.username%></p>
<p>id : <%=user.userid%></p>
<a href="/logout">signout</a>
<%}%>